<div class="panel panel-primary" *ngIf="movie">
    <div class="panel-heading" style="font-size:large">
        {{pageTitle + ": " + movie.title}}
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3">Title:</div>
                    <div class="col-md-6">{{movie.title}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Year:</div>
                    <div class="col-md-6">{{movie.year}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Description:</div>
                    <div class="col-md-6">{{movie.description}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">5 Star Rating:</div>
                    <div class="col-md-6">
                        <mv-star [rating]="movie.rating"
                                (ratingClicked)="onRatingClicked($event)">
                        </mv-star>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">Genres:</div>
                    <div class="col-md-6">{{movie.genres}}</div>
                </div>
            </div>

            <div class="col-md-6" *ngIf="movie.picture">
                <img class="center-block img-responsive"
                     [style.width.px]="200"
                     [style.margin.px]="2"
                     src="{{ imgPath + movie.picture }}"
                     [title]="movie.title">
            </div>
        </div>
        <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
    </div>

    <div class="panel-footer">
        <a class="btn btn-default" (click)="onBack()" style="width:80px">
            <i class="glyphicon glyphicon-chevron-left"></i> Back
        </a>
        <a class="btn btn-primary" style="width:80px;margin-left:10px"
           [routerLink]="['/movieEdit', movie.id]">
            Edit
        </a>
    </div>
</div>
