<div class='panel panel-primary'>
  <div class='panel-heading'>
      {{pageTitle}}
  </div>

  <div class='panel-body'>
      <div class='row'>
          <div class='col-md-2'>Filter by:</div>
          <div class='col-md-4'>
              <input type='text' [(ngModel)]='listFilter' />
          </div>
      </div>
      <div class='row' *ngIf='listFilter'>
          <div class='col-md-6'>
              <h3>Filtered by: {{listFilter}} </h3>
          </div>
      </div>

      <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>

      <div class='table-responsive'>
          <table class='table'
                 *ngIf='movies && movies.length'>
              <thead>
                  <tr>
                      <th>
                          <button class='btn btn-primary'
                              (click)='toggleImage()'>
                              {{showImage ? 'Hide' : 'Show'}} Image
                          </button>
                      </th>
                      <th>Movie</th>
                      <th>Year</th>
                      <th>Genres</th>
                      <th>5 Star Rating</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor='let movie of movies | movieFilter:listFilter'>
                      <td>
                          <img *ngIf='showImage && movie.picture'
                               src="{{ imgPath + movie.picture }}"
                               [title]='movie.title | uppercase'
                               [style.width.px]='imageWidth'
                               [style.margin.px]='imageMargin'>
                      </td>
                      <td>
                          <a [routerLink]="['/movie', movie.id]">
                              {{movie.title}}
                          </a>
                      </td>
                      <td>{{ movie.year }}</td>
                      <td>{{ movie.genres }}</td>
                      <td>
                          <mv-star [rating]='movie.rating'
                                  (ratingClicked)='onRatingClicked($event)'>
                          </mv-star>
                     </td>
                     <td>
                          <a class="btn btn-primary"
                             [routerLink]="['/movieEdit', movie.id]">
                              Edit
                          </a>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
